<footer class="page-footer materialize-red lighten-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Reach Out To Us</h5><br>
                <a href="mailto:hello@pythongoras.io" class="white-text">Email Us</a>.<br>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Support this Website!</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Django Tutorials</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">RESTFUl APIs Tutorials</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">General Python Tutorials</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!"><strong>Contact Us for Consulting and Contracting</strong></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 Copyright Pythongoras
            <a class="grey-text text-lighten-4 right" href="#!">Programming with Python is Magical</a>
            </div>
          </div>
</footer>
